@page "/"


<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-12 mb-8">
            <div class="card" style="border: none;">
                <div class="card-body">
                    
                   @*  <h2><strong>Gör livet lättare med Xstamps digitala stämpelkort!</strong></h2> *@
                    <h1><strong>Prova Xstamp idag!</strong></h1>
                    <h5><strong>Inga fler tappade eller glömda stämpelkort. Xstamps digitala lösning finns alltid inom räckhåll, oavsett var du är.</strong></h5><br />
                    
                        <h6><strong>Bye bye, tunga plånböcker!</strong></h6>
                        <h7>Nu slipper du trassla med krångliga stämpelkort som tar upp plats i din plånbok. Med Xstamp har du alltid dina lojalitetskort smidigt tillgängliga direkt i din mobil.</h7><br /><br />
                        <h6><strong>Belöningar</strong></h6>
                        <h7>Vår digitala plattform erbjuder komfort men även tillgång till exklusiva erbjudanden och belöningar. Få kontroll över dina lojalitetsbelöningar och maximera dina förmåner med Xstamp.</h7><br /><br />
                        <a href="Account/Register" class="btn custom-button-custom m-1">Ny privatkund</a>
                        <a href="Account/RegisterCompany" class="btn custom-button m-1">För nya företag</a><br /><br />
                    <h7>Registrera dig enkelt här på hemsidan och <a href="/account/login">logga in</a> för att börja använda Xstamp!</h7><br />
                </div>
            </div>
        </div>
    </div>
</div>


<style>
	.custom-button-custom {
        background-color: #FBBA00;
		color: black;
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
		transition: background-color 0.3s ease, box-shadow 0.3s ease;
        max-width: 200px; 
        white-space: nowrap;
	}

        .custom-button-custom:hover {
            background-color: black;
            color: white;
            box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1);
        }
    
    .custom-button {
        background-color: #FFFFFF;
		color: black;
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
		transition: background-color 0.3s ease, box-shadow 0.3s ease;
        max-width: 200px; 
        white-space: nowrap;
        border-color: black;
	}

		.custom-button:hover {
			background-color: black;
			color: white;
			box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1);
		}
</style>
