@page "/Account/ResetPasswordConfirmation"
<PageTitle>Bekräfta återställ lösenord</PageTitle>

<h1>Återställ lösenords bekräftelse</h1>
<p>

    Ditt lösenord har blivit återställt.<a href="Account/Login">Klicka här för att logga in</a>.
</p>
